<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Lan Sheng  Copyright (c) 2022 https://127.0.0.1.
  ~ Copyright (c) 2022. easyvideo, personal projects are not allowed to be commercialized without permission.
  ~ Please keep the information of the original author of the code. Thank you
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.easyvideo.service_authority.mapper.UserRoleMapper">

</mapper>
